.fixed {
  position: fixed
}

.left-0 {
  left: 0px
}

.bottom-0 {
  bottom: 0px
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.flex {
  display: flex
}

.h-full {
  height: 100%
}

.h-10 {
  height: 2.5rem
}

.w-full {
  width: 100%
}

.border-spacing-y-2 {
  --tw-border-spacing-y: 0.5rem;
  border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y)
}

.flex-row {
  flex-direction: row
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.justify-evenly {
  justify-content: space-evenly
}

.rounded-full {
  border-radius: 9999px
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-red-500 {
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity))
}

.bg-yellow-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(234 179 8 / var(--tw-bg-opacity))
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity))
}

.bg-red-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-10 {
  padding: 2.5rem
}

.p-5 {
  padding: 1.25rem
}

.p-3 {
  padding: 0.75rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-\[\#393939\] {
  --tw-text-opacity: 1;
  color: rgb(57 57 57 / var(--tw-text-opacity))
}

.text-\[\#d62f64\] {
  --tw-text-opacity: 1;
  color: rgb(214 47 100 / var(--tw-text-opacity))
}
